h1.center CPIT 280 Human-Computer Interaction
.row.cards-row
  .intro-card
    p This course is an introduction to Human-Computer Interaction (HCI), where we discuss topics and issues related to designing effective interactive technologies that bring joy to users and improve the way they work and interact with technologies. Students in this class will learn concepts and techniques for prototyping, designing, and evaluating user interfaces.
.row
.row.cards-row
  .col-md-5
    h3.text-left Schedule
    ul
      li Lecture:
      ul
        li Time: Sundays, Tuesdays, Thursdays 3:00-3:50PM
        li Location:  FCIT building, Lab 06
      li Lab:
      ul
        li Time: Tuesdays 4:00-5:20PM
        li Location: FCIT building, Lab 06
  .col-md-3
    h3.text-left Office Hours
    p Time: Sunday, Tuesday, Thursday 11:00AM-01:00PM
    p Location: FCIT building, office: 112
     
  .col-md-4
    h3.text-left Announcements/Questions
    p
    | Join our 
    a(href='https://kau-cpit280.slack.com') Slack group/team
.row
  h2(id="syllabus") Syllabus
  p
    b Textbooks: 
    ul
      li
        b Required:
      ul
        li
          a(href='http://cs.umd.edu/hcil/DTUI6/' target='blank') Designing the User Interface: Strategies for Effective Human-Computer Interaction, 5th edition, by Ben Shneiderman and Catherine Plaisant.
      li
        i Optional:
      ul
        li Interaction Design: beyond human-computer interaction, 4th edition, by Helen Sharp, Yvonne Rogers, Jenny Preece.
        li Human Computer Interaction, 3rd edition, by Alan Dix, Janet Finlay, Gregory D. Abowd, Russell Beale.
  p 
    b Grading:
    table.table.table-nonfluid
      tr
        td First exam
        td 15%
      tr
        td Second exam
        td 15%
      tr
        td Assignments/Projects
        td 15%
      tr
        td Lab
        td 20%
      tr
        td Final exam
        td 35%
  p
  | The complete syllabus is already prepared by the department and is 
  a(href='./files/cpit-280-syllabus.pdf') available here.
  
.row
  h2(id='calendar') Calendar
  table.table
    thead
      tr
        th Week
        th Topic
        th Readings
        th Assignment
      tr
    tbody
      tr
        td 1
        td
          p.text-muted Feb 5
          p Introduction
          ul
            li
              a(href='https://kaucpit280.github.io/slides-01/index.html' target='blank') Slides
            li Human-Computer Interaction and Interaction Design
            li Good and bad design
            li 
              | Multidisciplinary design teams 
              a(href='https://www.youtube.com/watch?v=2Dtrkrz0yoU', target='blank') video
        td
          ul
            li Chapter 1 of Shneiderman's Designing the UI..
        td
      tr
        td 2
        td
          p.text-muted Feb 12
          p Usability & User Experience (UX)
          ul
            li
              a(href='https://kaucpit280.github.io/slides-02/index.html' target='blank') Slides
            li Usability of Interactive Systems 1 (evaluation and testing)
            li Usability & UX principles
            li Usability Heuristics
            li Usability & accessibility standards
        td
          ul
            li Chapter 1 of Shneiderman's Designing the UI..
            li Chapter 1 of Norman's "The Design of Everyday Things."
            li
              a(href='https://www.nngroup.com/articles/ten-usability-heuristics/' target='blank') Nielsen's 10 usability heuristics for UI design
        td
          p.text-muted Due on Sunday 19/02 at 2:00PM
          ul
            li Assignment 1 (Norman's design principles)
            li Assignment 2 (Nielsen's usability heuristics)
      tr
        td 3
        td
          p.text-muted Feb 19
          p Usability of Interactive Systems - 2 (Design guidelines, principles and theories)
          ul
            li Slides: 
              a(href='https://kaucpit280.github.io/slides-03/index.html' target='blank') part 1
              | and 
              a(href='http://sso.kau.edu.sa/' target='blank') part 2 (on blackboard)
            li Guidelines
            li Principles
            li Theories
        td
          ul
            li Chapter 2 of Shneiderman's Designing the UI..
        td
      tr
        td 4
        td
          p.text-muted Feb 26
          p Managing Design Processes
          ul
            li
              a(href='http://sso.kau.edu.sa/' target='blank')  Slides (on blackboard)
            li The four pillar of design
            li Ethnographic observation
            li Participatory design
            li Personas, scenarios
          p Evaluating Interface Designs - 1
          ul
            li 
              a(href='http://sso.kau.edu.sa/' target='blank') Slides (on blackboard)
            li Expert review
            li Usability testing
        td
          ul
            li Chapter 3 of Shneiderman's Designing the UI..
            li Chapter 4 of Shneiderman's Designing the UI..
        td
          p.text-muted Due on Thursday 02/03 at 2:00PM
          ul
            li Assignment 3 (Personas)
            li Assignment 4 (Scenarios)
      tr
        td 5
        td
          p.text-muted March 5
          p Evaluating Interface Designs - 2
          ul
            li User surveys
            li Evaluation during active use
            li Acceptance tests
            li Controlled experiments
          p Data Analysis and Interpretation
          ul
            li
              a(href='http://sso.kau.edu.sa/' target='blank') Slides (on blackboard)
        td
          ul
            li Chapter 4 of Shneiderman's Designing the UI..
            li Chapter 8 of Dix's Human Computer Interaction book.
        td
          p.text-muted Due on Sunday 05/03 at 2:00PM
          ul
            li Assignment 5 (Participatory Design)
      tr
        td 6
        td
          p.text-muted March 12
          p Designing HCI Experiments
          ul
            li Experimental variables
            li Research questions
            li Participant selection
            li Experiment procedure
            li Data Collection
            li Ethics
        td
        td
      tr.active
        td 7
        td
          p.text-muted March 19
          p
            span.label.label-info Exam 1: 
            ul
             li Time: Wednesday, March 22nd at 7:00PM at Lab (14/15)
             li Topics: Chapters 1 to 4
             li Grade: 15%
          p UI Design and Prototyping
          ul
            li Low-fidelity prototyping
            li Scenarios and sketching
            li Medium-fidelity prototyping
            li High-fidelity prototyping
        td
        td
      tr
        td 8
        td
          p.text-muted March 26
          p Evaluating Interface Designs - 2
        td
        td
      tr.break
        td
        td
          p Second semester break!
          p March 31 - April 8
      tr
        td April 9
        td
          p.text-muted April 09
          p Low fidelity Prototyping
        td
        td
      tr
        td 10
        td
          p
          p Developing Effective Interfaces
        td
        td
      tr
        td 11
        td
          p
          p Interaction Devices
        td
        td
      tr
        td 12
        td
          p
          p Information Search
          p
            span.label.label-info Exam 2
        td
        td
      tr
        td 13
        td
          p
          p Emerging Technologies - 1 (Intelligent User Interfaces)
        td
        td
      tr
        td 14
        td
          p
          p Emerging Technologies - 2 (Wearable technology)
        td
        td
      tr
        td 15
        td
          p
          p
            span.label.label-info Project presentation
        td
        td
